@import "../../scss/index";
@import "../../scss/mixin";

.relvise{
    &__advises{
        &-cardItem{
            p{
                color: #737373;
            }
        }
        &-content{
            text-align: left;
            padding: 20px;
        }
    }
}