@import "../../scss/mixin";
.relvise{
    &__clients{
        &-container{
            text-align: center;
        }
        &-row{
            display: flex;
            @include breakpoint(sp){
                flex-direction: column;
            }
        }
        &-cardItem{
            background-color: #fff;
            padding: 20px;
            height: 220px;
            display: flex;
            flex-direction: column;
            figure{
                flex: 1;
            }
        }
        @include breakpoint(pc){
            margin: 100px 0;
        }
    }
}