.relvise{
    &__clients{
        margin: 100px 0;
        &-container{
            text-align: center;
        }
        &-row{
            display: flex;
        }
        &-cardItem{
            background-color: #fff;
            padding: 20px;
            height: 220px;
            display: flex;
            flex-direction: column;
            figure{
                flex: 1;
            }
        }
    }
}