.relvise{
    &__features{
        padding-top: 80px;
        &-col{
            margin-right: 20px;
            width: 33.33333333333%;
            &:last-child{
                p{
                    color: #fff;
                }
            }
        }
        &-cardItem{
            padding: 30px;

        }
    }
}