@import "../../scss/mixin";
.relvise{
    &__about{
        margin: 100px 0 136px;
        &-media{
            @include breakpoint(pc){
                flex: 1 0.75;
                .sp-only{
                    display: none;
                }

            }
            @include breakpoint(sp){
                flex-direction: column;
                .pc-only{
                    display: none;
                }
            }
        }
        &-content{
            flex: 0.55;
            text-align: left;
            color: #fff;
            margin: 20px 0 50px 0;
            &__title{
                margin-bottom: 50px;
            }
            &--item {
                position: relative;
                &:nth-child(2){
                    &::before{
                        content: '';
                        position: absolute;
                        background: url("../../assests/images/vector.png") no-repeat;
                        top: 0;
                        left: -40px;
                        width: 50px;
                        height: 50px;
                    }
                }
                &:nth-child(3){
                    &::before{
                        content: '';
                        position: absolute;
                        background: url("../../assests/images/vector-2.png") no-repeat;
                        top: 0;
                        left: -40px;
                        width: 50px;
                        height: 50px;
                    }
                }
                @include breakpoint(sp){
                    margin-left: 35px;
                    h3{
                        font-size: 16px;
                    }
                }
            }
        }
        &-wrapper{
            display: flex;
            justify-content: space-between;
            @include breakpoint(sp){
                flex-direction: column;
                margin: 0 30px;
            }
        }
        @include breakpoint(pc){
            .sp-only{
                display: none;
            }

        }
        @include breakpoint(sp){
            .pc-only{
                display: none;
            }
        }
    }
}