.relvise{
    &__features{
        padding: 20px 80px 0;
        position: relative;
        &-container{
            position: absolute;
        }
        &-row{
            display: flex;
        }
    }
}