@import "../../scss/mixin";
.relvise{
    &__features{
        &-container{
            @include breakpoint(pc){
                position: absolute;
            }
        }
        &-row{
            display: flex;
            @include breakpoint(sp){
                flex-direction: column;
            }
        }
        @include breakpoint(pc){
            position: relative;
        }
    }
}