@import "../../scss/base";
@import "../../scss/mixin";

.relvise{
    &__footer{
        &-contact{
            display: flex;
            justify-content: space-between;
            &_title{
                text-align: left;
                color: #fff;
                padding: 82px 0 40px;
                @include breakpoint(sp){
                    margin: 0 auto;
                }
            }
            &_btn{
                align-self: center;
                background-color: #FF7B47;
                border: none;
                border-radius: 5px;
                color: #fff;
                cursor: pointer;
                height: 58px;
                margin-top: 40px;
                padding: 15px 40px;
                @include breakpoint(sp){
                    margin-top: 0;
                    align-self: flex-start;
                }
            }
            @include breakpoint(sp){
                flex-direction: column;
                padding: 0 40px;
                margin-bottom: 40px;
            }
        }
        &-container{
            display: flex;
            justify-content: space-between;
            padding: 50px 155px;
            background-color: $secondary-color-2;
            @include breakpoint(sp){
                flex-direction: column;
                align-items: center;
            }
            @include breakpoint(pc){
                margin: 0 -10rem;
            }
        }
        &--col,
        &--col2{
            margin-right: 30px;
            h5{
                font-size: 16px;
                color: #fff;
            }
            ul{
                padding: 0;
                li{
                    color: #fff;
                    list-style-type: none;
                    font-size: 14px;
                    line-height: 34px;
                }
                a{
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
        &--col2{
            a{
                vertical-align: top;
                margin-left: 5px;
            }
            img{
                margin: 5px;
            }
            @include breakpoint(sp){
                margin-left: 80px;
            }
        }
        &-copyright{
            display: flex;
            justify-content: space-between;
            &_title{
                color: #fff;
            }
            @include breakpoint(sp){
                flex-direction: column;
                align-items: center;
                padding: 25px 0 59px;
            }
        }
        &-socials{
            align-self: center;
            img{
                margin-left: 20px;
            }
        }
    }
}