.section{
    &-header{
        background: url(/assests/images/rel-background.png) no-repeat;
        height: 45rem;
    }
    &-main{
        background-color: #252B42;
        padding-top: 10rem;
    }
}