$primary-color: #FF7B47;
$secondary-color-1: #0D5C63;
$secondary-color-2: #17213C;
$back-ground-gradient-1: linear-gradient(270deg, #D71489 -1.04%, #004788 100%);
$text-color: #252B42;
$second-text-color: #252B42;
$transparent-color: transparent;
$white-color: #fff;

$primary-font: 'Montserrat', sans-serif;

:export {
    primarycolor: $primary-color;
    whitecolor: $white-color;
}
